<div class="m-1" style="align-items: center;">
  <div class="container text-center">
    <h2>Fourier Series Approximation</h2>
    <br><br>





    <div class="container">
      <h2>Señales Periódicas</h2>

      <h3>Onda Cuadrada</h3>
      <canvas id="ondaCuadradaCanvas"></canvas>

      <h3>Diente de Sierra</h3>
      <canvas id="dienteSierraCanvas"></canvas>

      <h3>Rectificador</h3>
      <canvas id="rectificadorCanvas"></canvas>
    </div>
  </div>

  <!-- Error Message for Validation -->
  <div class="alert alert-danger mt-3">
    Please enter a valid function and interval to calculate the Fourier series.
  </div>

</div>
